// Colors
// Note for text colors:

// "Verified Graduate" has the same color as the person's name with 50% opacity
// Review paragraphs inside the quotations have the same color as well, but are at 70% opacity

// Primary
$moderate-violet: hsl(263, 55%, 52%);
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$very-dark-blackish-blue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

// Neutral
$light-gray: hsl(0, 0%, 81%);
$light-grayish-blue: hsl(210, 46%, 95%);

// Typography
$base-font-size: 10px;
$font-size: 1.3rem;
$font-weight: 500;
$font-weight-2: 600;
$font-family: "Barlow Semi Condensed", sans-serif;

// Utilities
$mobile-gap: 2.5rem;
$desktop-gap: 3rem;
$card-width: 23.5rem;
$border-radius: 1rem;
$rounded-full: 50%;
$padding: 2rem;
$bold_big: 1.5rem;
